@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


*{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}